.content__intro {
  margin: 0 auto;
  max-width: 984px;
}

@media screen and (max-width: 1080px) {
  .content__intro {
    max-width: calc(100% - (48px * 2));
  }
}

@media screen and (max-width: 820px) {
  .content__intro {
    max-width: calc(100% - (24px * 2));
  }
}

@media screen and (max-width: 420px) {
  .content__intro {
    max-width: calc(100% - (16px * 2));
  }
}
