.cover {
  display: grid;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  background: url('../../images/cover-trains.jpg') center/cover no-repeat;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-text-size-adjust: 100%;
}
