.footer {
  display: flex;
  justify-content: space-between;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-text-size-adjust: 100%;
}

@media screen and (max-width: 767px) {
  .footer {
    flex-direction: column;
    align-items: start;
  }
}
